# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
/run/
.cache
.codex
prod-run/server

# Files from Forge MDK
forge*changelog.txt

*.jar
/pack-repro/mods/
